<%# <div id="bg" class="fixed top-0 left-0"></div> %>

<%# <%= content_tag(:canvas, "", data: {controller: "threejs", class: ""}) %>
<%# <canvas class="bg-blue-700 w-5/6 p-4 flex-grow"></canvas> %>
<%# <div id="castle">
    This is the castle element.
</div> %>
<%= content_tag(:canvas, "", data: {controller: "threejs", class: ""}) %>
<%# <h1>Hello world</h1> %>